name: Run tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install GTK3
        run: sudo apt install libgtk-3-dev
      - name: Build and run tests
        run: make tests
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          gcov: true